.award {
    padding: 125px 0;
    background-image: url(../images/logo-award.svg), url(../images/about-bg.jpg);
    background-repeat: no-repeat; 
    background-position: left 63px top 55px, center;
    background-size: auto, cover;

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 110px;
        flex-wrap: wrap;
    }

    &-content {
        max-width: 634px;
        width: 100%;
    }

    &-title {
        margin: 8px 0 64px;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        gap: 64px 32px;
    }

    &-item {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 8px;
        padding-left: 111px;
        background-repeat: no-repeat;
        background-position: left center;
    }

    &-item-gourmond {
        background-image: url(../images/gourmond.svg);
    }

    &-item-star {
        background-image: url(../images/star.svg);
    }

    &-item-hospitality {
        background-image: url(../images/hospitality.svg);
    }

    &-item-chef {
        background-image: url(../images/chef.svg);
    }

    &-item-title {
        color: $color-secondary;
        font-size: 23px;
        line-height: 1.3;
        letter-spacing: 0.92px;
        text-transform: capitalize;
    }

    &-item-text {
        color: $color-text;
        @include opensans (16px, 1.75, 400);
        letter-spacing: 0.64px;
    }

    &-block {
        max-width: 555px;
        width: 100%;
        position: relative;
    }

    .img-g {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &-img {
        max-width: 483px;
        width: 100%;
        margin-left: auto;
    }
}