.header {

    height: 121px;

    &-fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 32px 0;
        background-color: $bg-dark;
        z-index: 2;
    }

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-logo {
        width: 199px;
    }

    .burger {
        display: none;

        @media(max-width: 1300px) {
            display: block;
            width: 65px;
            height: 63px;
            position: relative;
            z-index: 5;
            transition: $transition;
            background: url(../images/burger.svg) no-repeat center;

            &.active {
                background: url(../images/burger-spoon.svg) no-repeat center;
            }
        }
    }

    .nav {
        display: flex;
        align-items: center;
        gap: 270px;

        @media(max-width: 1300px) {
            position: absolute;
            height: 0;
            background: black;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            flex-direction: column-reverse;
            justify-content: center;
            gap: 85px;
            overflow-y: hidden;
            opacity: 0;
            transition: $transition;

            &.active {
                height: 100vh;
                opacity: 1;
                overflow-y: visible;
            }
        }
    }

    .list {
        display: flex;
        gap: 32px;

        @media(max-width:1300px) {
            flex-direction: column;
            align-items: center;
        }

        .link {
            @include opensans (16px, 28px, 400);
            letter-spacing: 0.04em;
            color: $color-white;

            @media(max-width:1300px) {
                font-size: 35px;
                line-height: 40px;
            }
        }
    }

    &-block {
        display: flex;
        align-items: center;
        gap: 100px;
        position: relative;

        @media(max-width:1300px) {
            gap: 20px;
            flex-direction: column;
        }
    }

    &-account {
        width: 170px;
        display: flex;
        gap: 15px;

        @media(max-width:1300px) {
            width: auto;
        }

        a {
            @include opensans (16px, 28px, 600);
            letter-spacing: 0.04em;
            color: $color-white;
            text-transform: capitalize;

            @media(max-width:1300px) {
                font-size: 28px;
                line-height: 30px;
            }
        }

        .login {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                right: -8px;
                top: 50%;
                height: 15px;
                width: 2px;
                background: $bg-white;
                transform: translateY(-50%) rotate(15deg);

                @media(max-width:1300px) {
                    height: 28px;
                }
            }
        }
    }

    &-book {
        @include opensans (16px, 28px, 600);
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: $color-white;

        @media(max-width:1300px) {
            font-size: 28px;
            line-height: 30px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 3px;
            height: 80px;
            background: radial-gradient($color-white, $color-dark, transparent);
            top: 50%;
            right: 38%;
            transform: translateY(-50%);

            @media(max-width:768px) {
                display: none;
            }
        }
    }
}