.newsletter {
    padding: 46px 0 64px;

    &-wrapper {
        background: $bg-dark;
        border: 1px solid rgba(220, 202, 135, 0.20);
        box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.70);
    }
}

