html,
body {
    min-height: 100vh;
}

body {
    @include cormorant(16px, 1, 700);
    background: $bg-dark;
    color: $color-primary;
    letter-spacing: 0.04em;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.container-lg {
    max-width: 1680px;
    margin: 0 auto;
    width: 100%;

    @media(max-width:1700px) {
        padding: 0 10px;
    }
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;

    @media(max-width:1350px) {
        padding: 0 10px;
    }
}

.inner-subtitle {
    font-size: 23px;
    line-height: 30px;
    text-transform: capitalize;
    font-feature-settings: 'tnum'on, 'lnum'on;
    color: $color-white;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 9px;
        background: url(../images/spoon.svg) no-repeat center;
        left: 0;
        bottom: -17px;

    }
}

.inner-text {
    @include opensans (16px, 28px, 400);
    color: $color-text;

    @media(max-width: 450px) {
        text-align: center;
    }
}

.link-beige {
    background: $bg-secondary;
    text-align: center;
    padding: 8px 0;
    line-height: 28px;
    color: $color-dark;
    display: block;

    @media(max-width: 450px) {
        margin: 0 auto;
    }
}

.inner-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 83px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: $color-secondary;
}

.btn-up {
    position: fixed;
    z-index: 2;
    width: 48px;
    height: 72px;
    color: $color-secondary;
    text-transform: uppercase;
    bottom: 50px;
    right: 25px;
    background: rgba(30, 29, 27, 0.75) url(../images/btn-up.svg) no-repeat center top 7px;
    display: none;
    padding-top: 60px;
    padding-bottom: 25px;
    border-radius: 30px;
}

